.app-shell {
  display: flex;
  min-height: 100vh;
}

.app-shell.solo-login {
  display: block;
}

.app-main {
  flex: 1;
  padding: 32px;
  overflow-x: auto;
}

.app-main.sin-padding {
  padding: 0;
}
 